bokeh==2.4.2
boss==0.9.20
botorch==0.6.1
dgl==0.6.1
emukit==0.4.9
gpytorch==1.6.0
ipdb==0.13.9
ipython
joblib==1.1.0
matplotlib==3.5.1
networkx==2.6.3
nltk==3.7
numpy==1.21.2
pandas==1.3.4
pexpect==4.8.0
PyTDC==0.3.6
PyYAML==6.0
requests==2.27.1
scikit_learn==1.0.2
scipy==1.7.3
selfies==2.0.0
setuptools==58.0.4
six==1.16.0
PyTDC
tensorboardX==2.5
tensorflow==2.8.0
theano==1.0.5
torch==1.10.2
tqdm==4.63.0
wandb
ray
ray[tune]
ConfigArgParse
pytorch-lightning
